<div class="container">
  <img loading="lazy" src="assets/images/final-2.svg" alt="Gaps Logo" style="width:50%;height:50%;" class="center">

  <h3 class="top-margin">About</h3>

  <p class="text-muted">
      <a class="activeLink" href="https://github.com/primetime43/GAPS-2" target="_blank">GAPS 2</a> is a rewrite of the original <a class="activeLink" href="https://github.com/JasonHHouse/gaps" target="_blank">GAPS project</a>, now written in Python instead of Java. GAPS (Gaps A Plex Server) finds movies you're missing in your Plex Server. It's a great way to find additional movies that you might be interested in based on collections from movies in your Plex Server.
  </p>
  <p class="text-muted">
      The <a class="activeLink" href="https://github.com/primetime43/GAPS-2" target="_blank">GAPS 2</a> project aims to bring the same functionality with the simplicity and versatility of Python.
  </p>

  <p class="text-muted">Gaps searches through your Plex Server. It then queries
      for known
      movies in the same
      collection using The MovieDB, which you will need to get. Don't worry, we'll walk you through
      those
      steps. Anyway, if those movies don't exist in your library, Gaps will recommend getting those
      movies, legally of course.</p>

  <p class="text-muted">An example would be having a copy of 'Alien (1979)' and Gaps
      recommending
      'Aliens (1986)' and
      'Alien³ (1992)' to be added to your collection.</p>
</div>
