<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gaps</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link href="{{ url_for('static', filename='images/gaps.ico') }}" rel="shortcut icon" />
    <link href="{{ url_for('static', filename='css/libraries/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/libraries/datatables.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ url_for('static', filename='css/libraries/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ url_for('static', filename='css/input.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/page/libraries.min.js') }}" type="text/javascript"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>

<body>

    {% include 'fragments/header.html' %}

    <div id="librariesContainer"></div>

    <div class="container">
        <h3 class="top-margin">Libraries</h3>

        <div>
            <div class="dropdown show">
                <a aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle"
                    data-cy="dropdownMenu" data-toggle="dropdown" href="#" id="dropdownMenuLink"
                    role="button">Libraries</a>

                <!-- When a library is selected in the dropdown, this will retrieve the movies in the selected library -->
                <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                    {% for library in libraries[currentActiveServer.selected_server] %}
                    <a class="dropdown-item" href="javascript:void(0)" data-cy="{{ library }}"
                        onclick="retrieveLibraryMovies('{{ library }}')">
                        {{ library }}
                    </a>
                    {% endfor %}
                </div>

                <!-- Display count dropdown and search box -->
                <div class="d-flex justify-content-between align-items-center" id="moviesOptions">
                    <div class="form-group">
                        <label for="movieDisplayCount">Display Count:</label>
                        <select id="movieDisplayCount" class="form-control" style="width: auto;">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                
                    <div class="form-group">
                        <input type="text" id="movieSearchBox" placeholder="Search Movies" class="form-control">
                    </div>
                </div>                
            </div>

            <div class="top-margin bottom-margin" id="noMovieContainer" style="display: none;">
                <div class="card mx-auto" style="width: 24rem;">
                    <img alt="..." class="card-img-top" loading="lazy"
                        src="{{ url_for('static', filename='images/mind_the_gap.png') }}">
                    <div class="card-body">
                        <h5 class="card-title">Your movies are really missing</h5>
                        <p class="card-text">You need to run Gaps at least once to have found the missing movies.</p>
                    </div>
                </div>
            </div>

            <div class="top-margin bottom-margin" id="movieSearchingContainer" style="display: none;">
                <div class="d-flex justify-content-center top-margin ">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Searching Plex for Movies</span>
                    </div>
                </div>
                <div class="d-flex justify-content-center top-margin">
                    <p class="card-text">Searching Plex for Movies</p>
                </div>
            </div>

            <!-- Creates & displays a card section for each movie -->
            <div class="top-margin bottom-margin" id="movieContainer" style="display: none;">
                <table aria-label="Table of Owned Movies" class="display" id="movies" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="missingMoviesMessage">
            <div class="top-margin bottom-margin">
                <div class="card mx-auto" style="width: 24rem;">
                    <img alt="..." class="card-img-top" loading="lazy"
                        src="{{ url_for('static', filename='images/mind_the_gap.png') }}">
                    <div class="card-body">
                        <h5 class="card-title">Your movies are really missing</h5>
                        <p class="card-text">You need to configure Gaps before you can search for missing movies.
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Shows after selecting a library in the dropdown and is retrieving the movies -->
    <div id="loading"
        style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 9999;">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
            <div class="spinner-border text-primary" role="status" id="plexSpinner"></div>
            <span>Loading Movies...</span>
        </div>
    </div>

    <script>
        function getRecommendations(movieId, movieName) {
            // Store the movie name in local storage
            localStorage.setItem('recommendedMovieName', movieName);

            var apiKey = localStorage.getItem('tmdbApiKey');
            fetch('/recommendations?movieId=' + movieId + '&apiKey=' + apiKey)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        // If there's an error in the response, show an alert
                        alert(data.error);
                    } else if (data.message) {
                        // If there's a message in the response, show an alert
                        alert(data.message);
                    } else {
                        // If there's no error or message, redirect as usual
                        window.location.href = '/recommended';
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>

    <script>
        // Declare a variable to store all movies
        var allMovies = [];

        function retrieveLibraryMovies(library) {
            $('#loading').show();

            // Get the number of movies to display from the dropdown
            var displayCount = parseInt(document.getElementById('movieDisplayCount').value);

            var noMovieContainer = $('#noMovieContainer');
            var movieContainer = $('#movieContainer'); // Assuming there's an element with this ID
            var movieSearchingContainer = $('#movieSearchingContainer'); // Assuming there's an element with this ID

            // Make an AJAX GET request to get the movies from the selected library
            $.ajax({
                url: '/get_movies?library_name=' + encodeURIComponent(library),
                type: 'GET',
                success: function (response) {
                    $('#loading').hide();

                    console.log(response);

                    // Store all movies
                    allMovies = response.movies;

                    // Display the appropriate number of movies
                    displayMovies(allMovies);

                    // Handle the visibility of different elements based on the response
                    handleVisibility(response);

                    // Show the dropdown and search box if movies have been loaded and displayed
                    if (response.movies.length > 0) {
                        $('#moviesOptions').show();
                    }
                },
                error: function (error) {
                    console.log('Error:', error);
                    $('#loading').hide();
                }
            });
        }


        function displayMovies(movies) {
            // Get the number of movies to display from the dropdown
            var displayCount = parseInt(document.getElementById('movieDisplayCount').value);

            // Clear movie container
            var movieContainer = document.getElementById('movies');
            movieContainer.innerHTML = '';

            // Update each movie
            movies.slice(0, displayCount).forEach(function (movie) {
                console.log(movie); // Inspect the movie object here

                // Create the HTML string for each movie
                var html = `
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-auto">
                            <img loading="lazy" style="height: auto; width: 225px; display: block;"
                                src="${movie.posterUrl}"
                                class="card-img" alt="Plex Poster">
                        </div>
                        <div class="col-12 col-md">
                            <div class="card-body">
                                <h5 class="card-title">${movie.name} (${movie.year})</h5>
                                <p class="card-text text-muted">${movie.overview}</p>
                                <button onclick="getRecommendations('${movie.tmdbId.toString()}', '${movie.name.replace(/'/g, "\\'")}')" class="btn btn-primary" title="Click to get similar recommended movies">Get Recommendations</button>
                            </div>                
                        </div>
                    </div>
                </div>
            `;

                // Add the created HTML to the movie container
                movieContainer.innerHTML += html;
            });
        }

        function handleVisibility(response) {
            // Hide the "missing movies" message
            document.getElementById('missingMoviesMessage').style.display = 'none';
            var noMovieContainer = document.getElementById('noMovieContainer');
            var movieContainer = document.getElementById('movieContainer');
            var movieSearchingContainer = document.getElementById('movieSearchingContainer');

            if (response.movies.length === 0) {
                noMovieContainer.style.display = "block";
                movieContainer.style.display = "none";
                movieSearchingContainer.style.display = "none";
            } else {
                noMovieContainer.style.display = "none";
                movieContainer.style.display = "block";
                movieSearchingContainer.style.display = "none";
            }
        }

        //for updating the number of movies to display when the display number changes
        document.getElementById('movieDisplayCount').addEventListener('change', function () {
            // When the dropdown selection changes, update the display
            displayMovies(allMovies);
        });

        //for displaying the movies when searching in the search box
        document.getElementById('movieSearchBox').addEventListener('input', function (e) {
            // Get the search term
            var searchTerm = e.target.value;

            // Filter movies based on the search term
            var filteredMovies = allMovies.filter(function (movie) {
                return movie.name.toLowerCase().includes(searchTerm.toLowerCase());
            });

            // Display the filtered movies
            displayMovies(filteredMovies);
        });


    </script>

    <script src="{{ url_for('static', filename='js/libraries/jquery-3.4.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/libraries/bootstrap.bundle.min.js') }}"
        type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/libraries/datatables.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/libraries/handlebars-v4.7.6.min.js') }}"
        type="text/javascript"></script>
    <script type="module" src="{{ url_for('static', filename='js/page/libraries.min.js') }}"></script>
</body>

</html>