<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gaps</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/gaps.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libraries/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libraries/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libraries/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/input.min.css') }}">
</head>
<body>
    {% include 'fragments/header.html' %}

    <div class="container">
        <h3 class="top-margin">RSS</h3>

        {% if not foundPlexLibraries %}
        <div class="top-margin bottom-margin">
            <div class="card mx-auto" style="width: 24rem;">
                <img loading="lazy" alt="..." class="card-img-top" src="{{ url_for('static', filename='images/mind_the_gap.png') }}">
                <div class="card-body">
                    <h5 class="card-title">Your movies are really missing</h5>
                    <p class="card-text">You need to run Gaps at least once to have found the missing movies.</p>
                    <a class="btn btn-primary" href="{{ url_for('recommended') }}">Search</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if foundPlexLibraries %}
        <p class="top-margin text-muted">Select the RSS feed to view.</p>

        <form action="/rss" class="top-margin" method="get">
            {% for instance in plexServerMap %}
            <div class="form-check">
                <a href="{{ url_for('rss_feed', machine_identifier=instance.value.getMachineIdentifier(), key=instance.key.getKey()) }}">
                    {{ instance.value.getFriendlyName() }} - {{ instance.key.getTitle() }}
                </a>
            </div>
            {% endfor %}
        </form>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/libraries/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libraries/bootstrap.bundle.min.js') }}"></script>
</body>
</html>