<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gaps</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="{{ url_for('static', filename='/images/gaps.ico') }}" rel="shortcut icon"/>
    <link href="{{ url_for('static', filename='/css/libraries/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='/css/input.css') }}" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>

<body>
    {% include 'fragments/header.html' %}

<div class="container">
    <img loading="lazy" src="{{ url_for('static', filename='/images/final-2.svg') }}" alt="Gaps Logo" style="width:50%;height:50%;" class="center">

    <h3 class="top-margin">Updates</h3>
    <h4 class="top-margin text-primary">v1.0.0</h4>
    <ul class="text-muted">
        <li><a href="https://github.com/primetime43/GAPS-2/commit/d78ad886fa5beafaa86e2194f0e05054bbc1585d" target="_blank">Added error alerts and removed debugging code</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/72596cb5ec08c6e67c4ec17bfd841c47f698f833" target="_blank">Fixed recommendations on the recommended page</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/f27c4640827f3b6e8bc78c07a7b1f2579ed48846" target="_blank">TMDB Save API Key check & code clean up</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/3262ff317bf7531bcfe8c35b959f08192a783b3f" target="_blank">Cleaned up & removed obsolete code & files</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/e58857581ecf31b094f9b5927afeb744a536e85a" target="_blank">Added TMDB API functionality</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/d29e6b539d8519db1fd7c4bcdbd5197ec965f16e" target="_blank">Rewrote and removed some wording</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/4b4fd59a7168c0011ad3f95ac227a39222972484" target="_blank">Fixed an issue with linking the Plex account</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/231cefb5498d2e26235d6e0b5dfc0c489b614af8" target="_blank">Added the functionality for getting recommendations for a single selected movie</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/e34324ad8157b81e83dca8eac59506cece154148" target="_blank">Libraries display changes</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/e662819764a671f19d5c1ff6935019f8555d593e" target="_blank">Fixed the function for retrieving movies from the selected library</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/f0f088ca25ba6267a9948aec8687b29e08a2c220" target="_blank">Display libraries & retrieve movies from libraries</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/d7f361a5fc9c01dd6d621d4e2e85f000691ec767" target="_blank">Added a section to show active server & fixed header icon images</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/eb8932d958645979f48ddca62e2d19676c8ba17c" target="_blank">Save linked Plex Acc Data & Display Libraries</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/84bca6e08fa16cb609d17b947b5d2c44b3677f35" target="_blank">Added loading/fetching data indication</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/d1f878aee515cebf3335944f9c3a5970825c55ec" target="_blank">Rewrote Plex tab on Config page</a></li>
        <li><a href="https://github.com/primetime43/GAPS-2/commit/69a245b49d5a2db98578750acd0a585290dd3883" target="_blank">GAPS Java converted to Python for GAPS 2</a></li>
        <li>Forked the <a href="https://github.com/JasonHHouse/gaps" target="_blank">GAPS repo</a> to begin work on GAPS 2</li>
    </ul>    
    <p class="text-muted">
        GAPS 2 is a rewrite of the original GAPS project, now written in Python instead of Java. GAPS (Gaps A Plex Server) finds movies you're missing in your Plex Server. It's a great way to find additional movies that you might be interested in based on collections from movies in your Plex Server.
    </p>
    <p class="text-muted">
        The GAPS 2 project aims to bring the same functionality with the simplicity and versatility of Python.
    </p>

</div>

<script src="{{ url_for('static', filename='/js/libraries/jquery-3.4.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='/js/libraries/bootstrap.bundle.min.js') }}" type="text/javascript"></script>
</body>
</html>