<header>
  <nav class="header navbar navbar-expand navbar-expand-lg navbar-dark bg-primary">
      <a class="" [routerLink]="['/']">
          <img alt="" class="d-inline-block align-top" height="96" src="assets/images/final-gaps.svg" width="96">
      </a>
      <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item nav-button-padding" [class.active]="librariesPage">
                  <a class="nav-link center-text nav-anchor-spacing" [routerLink]="['/libraries']">
                      <img alt="" class="d-inline-block align-top" src="assets/images/list-ul.svg" width="32" height="32">
                      Libraries
                  </a>
              </li>
              <li class="nav-item nav-button-padding" [class.active]="recommendedPage">
                  <a class="nav-link center-text nav-anchor-spacing" [routerLink]="['/recommended']">
                      <img alt="" class="d-inline-block align-top" src="assets/images/collection-fill.svg" width="32" height="32">
                      Missing
                  </a>
              </li>
              <li class="nav-item nav-button-padding" [class.active]="settingsPage">
                  <a class="nav-link center-text nav-anchor-spacing clickable" (click)="goToSettings()">
                      <img alt="" class="d-inline-block align-top" src="assets/images/gear.svg" width="32" height="32">
                      Settings
                  </a>
              </li>
              <li class="nav-item nav-button-padding" [class.active]="updatesPage">
                  <a class="nav-link center-text nav-anchor-spacing" [routerLink]="['/updates']">
                      <img alt="" class="d-inline-block align-top" src="assets/images/arrow-clockwise.svg" width="32" height="32">
                      Updates
                  </a>
              </li>
              <li class="nav-item nav-button-padding" [class.active]="aboutPage">
                  <a class="nav-link center-text nav-anchor-spacing" [routerLink]="['/about']">
                      <img alt="" class="d-inline-block align-top" src="assets/images/info-circle.svg" width="32" height="32">
                      <br>
                      About
                  </a>
              </li>
          </ul>
      </div>
  </nav>
</header>
