<!-- TMdb tab -->
<div class="tab-pane fade show active top-margin regular-text" id="tmdb">
  <p>To use Gaps, you'll need a MovieDB api key. Navigate over to
    <a class="activeLink" href="https://www.themoviedb.org/settings/api" target="_blank">The Movie DB</a>,
    create an account, and make an API Key. Copy that key and paste it below.
  </p>
  <form class="needs-validation" [formGroup]="tmdbForm" novalidate>
    <div class="form-group">
      <label for="movieDbApiKey">Movie Database Api Key</label>
      <div class="input-group">
        <input class="form-control" id="movieDbApiKey" formControlName="movieDbApiKey" required>
        <div *ngIf="tmdbForm.get('movieDbApiKey') && !tmdbForm.get('movieDbApiKey').valid && tmdbForm.get('movieDbApiKey').touched"
             class="invalid-feedback">
          Please enter a Movie Database Key.
        </div>
      </div>
    </div>
    <button class="btn btn-info" type="button" (click)="testTmdbKey()">Test</button>
    <button class="btn btn-primary" type="button" (click)="saveTmdbKey()">Save</button>
  </form>
</div>
